:root {
  --cor1: #fff;
  --cor2: #222;
  --cor3: #7c7c7c;
  --bg1: #1f1f20;
  --bg2: #2b4c7e;
  --max-width: 960px;
  --padding1: 0.25rem;
  --padding2: 3.75rem;
  --padding3: 20px;
  --margin-auto: 0 auto;
  --font-size-small: 1.25em;
  --font-size-average: 3em;
}

.cor1 {
  color: var(--cor1);
}
.cor2 {
  color: var(--cor2);
}
